/**
 * @fileOverview This file was generated automatically with scss-to-ts script
 */

@import '../variables';

:export {
  basePath: $basePath;
  imagePath: $imagePath;
  whiteFour: $whiteFour;
  whiteThree: $whiteThree;
  whiteFive: $whiteFive;
  whiteFour87: $whiteFour87;
  whiteFour76: $whiteFour76;
  white: $white;
  white38: $white38;
  whiteTwo: $whiteTwo;
  whiteTwo87: $whiteTwo87;
  whiteSeven: $whiteSeven;
  whiteSix: $whiteSix;
  whiteSix38: $whiteSix38;
  warmGrey: $warmGrey;
  lightGrey54: $lightGrey54;
  lightGrey87: $lightGrey87;
  lightGrey12: $lightGrey12;
  darkGrey12: $darkGrey12;
  darkGrey36: $darkGrey36;
  darkGrey54: $darkGrey54;
  darkGrey76: $darkGrey76;
  darkGrey87: $darkGrey87;
  darkGrey96: $darkGrey96;
  darkGrey: $darkGrey;
  slateGrey38: $slateGrey38;
  slateGrey54: $slateGrey54;
  slateGrey87: $slateGrey87;
  slateGrey: $slateGrey;
  brownishGrey: $brownishGrey;
  charcoalGrey: $charcoalGrey;
  gunmetal54: $gunmetal54;
  steel12: $steel12;
  steel38: $steel38;
  steel76: $steel76;
  steel: $steel;
  blueGrey: $blueGrey;
  black8: $black8;
  black12: $black12;
  black14: $black14;
  black20: $black20;
  black36: $black36;
  black42: $black42;
  black54: $black54;
  black76: $black76;
  black87: $black87;
  black: $black;
  cyan: $cyan;
  darkSkyBlue: $darkSkyBlue;
  lightBlue: $lightBlue;
  lightBlueGrey: $lightBlueGrey;
  lightBlueGreyTwo: $lightBlueGreyTwo;
  lightBlueGreyThree: $lightBlueGreyThree;
  perryWinkle: $perryWinkle;
  cornflowerBlue: $cornflowerBlue;
  bluish: $bluish;
  lightNavy: $lightNavy;
  twilightBlue: $twilightBlue;
  nightBlue: $nightBlue;
  wheat: $wheat;
  brightYellow: $brightYellow;
  lightSalmon: $lightSalmon;
  tangerine: $tangerine;
  tangerineLight: $tangerineLight;
  tangerineLightest: $tangerineLightest;
  dirtyOrange: $dirtyOrange;
  auburn: $auburn;
  auburn8: $auburn8;
  paleRed: $paleRed;
  rosePink: $rosePink;
  lightGreyGreen: $lightGreyGreen;
  palePurple: $palePurple;
  pinkishGrey: $pinkishGrey;
  silver: $silver;
  primary: $primary;
  primaryLight: $primaryLight;
  danger: $danger;
  active: $active;
  inactive: $inactive;
  info: $info;
  infoInvert: $infoInvert;
  btnInfoColor: $btnInfoColor;
  btnDisabledColor: $btnDisabledColor;
  historyConnectorColor: $historyConnectorColor;
  modalBackgroundColor: $modalBackgroundColor;
  selectedAssetBgColor: $selectedAssetBgColor;
  historyConnectorBorder: $historyConnectorBorder;
  orangeGradient: $orangeGradient;
  sz-3: $sz-3;
  sz-4: $sz-4;
  sz-5: $sz-5;
  sz-6: $sz-6;
  sz-7: $sz-7;
  sz-8: $sz-8;
  sz-10: $sz-10;
  sz-12: $sz-12;
  sz-13: $sz-13;
  sz-14: $sz-14;
  sz-15: $sz-15;
  sz-16: $sz-16;
  sz-17: $sz-17;
  sz-18: $sz-18;
  sz-20: $sz-20;
  sz-22: $sz-22;
  sz-24: $sz-24;
  sz-26: $sz-26;
  sz-28: $sz-28;
  sz-30: $sz-30;
  sz-32: $sz-32;
  sz-34: $sz-34;
  sz-35: $sz-35;
  sz-36: $sz-36;
  sz-38: $sz-38;
  sz-40: $sz-40;
  sz-41: $sz-41;
  sz-42: $sz-42;
  sz-44: $sz-44;
  sz-45: $sz-45;
  sz-46: $sz-46;
  sz-48: $sz-48;
  sz-50: $sz-50;
  sz-52: $sz-52;
  sz-54: $sz-54;
  sz-56: $sz-56;
  sz-60: $sz-60;
  sz-61: $sz-61;
  sz-62: $sz-62;
  sz-64: $sz-64;
  sz-72: $sz-72;
  sz-80: $sz-80;
  sz-88: $sz-88;
  sz-96: $sz-96;
  sz-100: $sz-100;
  sz-112: $sz-112;
  sz-114: $sz-114;
  sz-115: $sz-115;
  sz-116: $sz-116;
  sz-123: $sz-123;
  sz-125: $sz-125;
  sz-144: $sz-144;
  sz-146: $sz-146;
  sz-150: $sz-150;
  sz-176: $sz-176;
  sz-192: $sz-192;
  sz-200: $sz-200;
  sz-250: $sz-250;
  sz-368: $sz-368;
  sz-400: $sz-400;
  sz-472: $sz-472;
  sz-500: $sz-500;
  sz-700: $sz-700;
  sz-800: $sz-800;
  lineHeightSmall: $lineHeightSmall;
  lineHeightNormal: $lineHeightNormal;
  lineHeightMedium: $lineHeightMedium;
  lineHeightLarge: $lineHeightLarge;
  ioControlRadius: $ioControlRadius;
  searchControlHeight: $searchControlHeight;
  controlHeight: $controlHeight;
  controlLabelWidth: $controlLabelWidth;
  logoSmallWidth: $logoSmallWidth;
  logoWidth: $logoWidth;
  logoWidthDesktop: $logoWidthDesktop;
  logoWidthMobile: $logoWidthMobile;
  logoHeightDesktop: $logoHeightDesktop;
  logoSmallHeightDesktop: $logoSmallHeightDesktop;
  menuItemHeightLarge: $menuItemHeightLarge;
  collapsedMenuWidth: $collapsedMenuWidth;
  menuWidth: $menuWidth;
  navBarHeight: $navBarHeight;
  navBarHeightMobile: $navBarHeightMobile;
  historyRowMaxWidth: $historyRowMaxWidth;
  border: $border;
  borderThinWidth: $borderThinWidth;
  borderSmallWidth: $borderSmallWidth;
  borderMediumWidth: $borderMediumWidth;
  borderThickWidth: $borderThickWidth;
  borderLargeWidth: $borderLargeWidth;
  borderThin: $borderThin;
  borderSmall: $borderSmall;
  borderMedium: $borderMedium;
  borderThick: $borderThick;
  borderLarge: $borderLarge;
  pagePadding: $pagePadding;
  defaultDotSize: $defaultDotSize;
  tabsLinkPadding: $tabsLinkPadding;
  qrCodeImgSize: $qrCodeImgSize;
  usersListQrCodeImgSize: $usersListQrCodeImgSize;
  zNavBar: $zNavBar;
  zModal: $zModal;
  zModalActions: $zModalActions;
  zBase: $zBase;
  zArrows: $zArrows;
  zInput: $zInput;
  zGrid: $zGrid;
  zColoredStatus: $zColoredStatus;
  zMenus: $zMenus;
  zHeader: $zHeader;
  zStickyContainer: $zStickyContainer;
  zMenuMobile: $zMenuMobile;
  zToasts: $zToasts;
  duration: $duration;
  durationSlow: $durationSlow;
  durationFast: $durationFast;
  fontFamilyHelvetica: $fontFamilyHelvetica;
  fontFamilyHelveticaMedium: $fontFamilyHelveticaMedium;
  fontFamilyHelveticaLight: $fontFamilyHelveticaLight;
  fontFamilyHelveticaBold: $fontFamilyHelveticaBold;
  rowBoxShadow: $rowBoxShadow;
  small-phone: $small-phone;
  phone: $phone;
  tablet: $tablet;
  desktop: $desktop;
  widescreen: $widescreen;
  mobile-width: $mobile-width;
  link: $link;
  link-hover: $link-hover;
  text: $text;
  text-light: $text-light;
  text-strong: $text-strong;
  app-background: $app-background;
  body-background-color: $body-background-color;
  page-header-color: $page-header-color;
  weight-light: $weight-light;
  weight-normal: $weight-normal;
  weight-bold: $weight-bold;
  family-primary: $family-primary;
  tabs-border-bottom-color: $tabs-border-bottom-color;
  tabs-border-bottom-width: $tabs-border-bottom-width;
  tabs-link-hover-border-bottom-color: $tabs-link-hover-border-bottom-color;
  tabs-link-hover-color: $tabs-link-hover-color;
}

