@import 'variables';

button.button {
  font-family: $fontFamilyHelveticaMedium;
  font-size: $sz-18;
  padding: $sz-8 $sz-16;
  justify-content: center;
  align-items: center;
  line-height: $sz-16;

  > i {
    margin-right: 1rem;
  }
}

.button {
  flex-grow: 1;
  justify-content: center;
  min-width: min-content;
}


.buttons-grid-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $sz-16 0;
  background: $app-background;
  width: 100%;
  top: 0;

  .left-btns {
    margin-right: $sz-16;
  }

  .right-btns {
    margin-left: $sz-16;
  }
}
